extends layout

block content
  div(id="main")
    if loggedIn
      h2 Linkblog
      h3 API:
      ul
        li
          a(href="./recent") Recent Bookmarks
      h3 App:
      ul
        li
          a(href="/") Add Bookmark
        li
          a(href="/db") Bookmarks DB
