extends layout

block content
  div(id="main")
    if loggedIn
      h2 The DB&hellip;
      h3 Categories
      table(class="table-db")
        tr
          th Category
          th JSON
          th Count
        each row in rows
          tr
            each value, index in row
              if index=="link"
                td
                  a(href=value)= value
              else
                td= value

