extends layout

block content
  div(class="container")
    if loggedIn
      div(class="row")
        div(class="col col-6")
          div(class="highlight")
            h2 Add
            form(name="link", class="simple-form", action="/", method="post", autocomplete="off", id="lastpass-search-off")
              fieldset
                label(for="url") Link
                input(type="url", name="url", placeholder="URL", autofocus)
                label(for="name") Name
                input(type="text", name="name", placeholder="Name")
                label(for="description") Description
                input(type="text", name="description", placeholder="Description")
                label(for="category") Category
                input(type="text", name="category", placeholder="Category")
              input(type="submit", value="Add Link")
        div(class="col col-6")
          div(class="highlight")
            h2 API
            p Common JSON resources:
            ul
              li
                a(href="/api/recent/") Recent Bookmarks
              li
                a(href="/api/categories") Categories
              li
                a(href="/api/months") Months
      div(class="row")
        div(class="col")
          h2 Recent Bookmarks
          div(class="table-div")
            table(class="table-db")
              tr
                th Link
                th Name
                th Description
                th Category
                th Date
              each row in rows
                tr
                  each value in row
                    td= value
            p
              a(href="../api/recent") JSON

