doctype html
html
  head
    title Bookmarking
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bookmarking.css')
  body
    div(class="container")
        header(class="row")
            div(class="col col-6")
                h1 Bookmarking
            div(class="col col-6")
                if (!loggedIn)
                    p
                        | You have to  
                        a(href="/login") log in
                        | . 
                        // &nbsp;
                        // a(href="/registration") Register
                else
                    p 
                        | Hey #{username} | 
                        a(href="/logout") Logout
    block content