extends layout

block content
  div(id="main")
    if loggedIn
      h2 The DB&hellip;
      h3 Months
      p
        a(href="../api/all_months") JSON
      table(class="table-db")
        tr
          th Month
          th JSON
        each row in rows
          tr
            each value, index in row
              if index=="link"
                td
                  a(href=value)= value
              else
                td= value

