html {
  box-sizing: border-box; 
}


*, *:before, *:after {
  box-sizing: inherit; 
}

.clearfix:after, .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; 
}

* html .clearfix {
  zoom: 1; 
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; 
}

/* Basics
------------------------------------------------------------*/
body {
  background-color: #B9BEAA;
  font-family: "Helvetica Neue","Helvetica","Nimbus Sans L","Open Sans",FreeSans,Arial,sans-serif;
}

h1, h2, h3, h4{
  font-weight: normal;
}
ul, ol {
  margin: 0; padding:0 1.3em;
}

li {
  margin: 6px 0;
}

a:hover {
  text-decoration: none; 
}

header {
  margin-bottom: 30px;
  border-bottom: 1px solid #EFEFEF;
  color: #EFEFEF;
}

header h1 {
  /*font-size: medium;*/
  text-transform: uppercase;
  margin:0; padding: 10px 0;
}
header p {
  margin:0; padding:10px 0;
  font-size: 1.3em;
}

header a {
  color: white;
  font-weight: bold;
}

/* Grid
------------------------------------------------------------*/
.container {
  padding: 0 30px;
}
.row {
  margin: 0 -15px 30px -15px;
}
.col {
  padding: 0 15px;
  float: left;
}

.col-6 {
  width: 50%;
}

/* Linkblog Form
------------------------------------------------------------*/
.highlight {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #EFEFEF;
}

form fieldset {
  margin: 5px 0;
  padding: 0 5px;
  border: 1px solid #ddd;
  border-radius: 2px; 
}

form input {
  display: block; 
}

form input[type="text"], 
form input[type="password"], 
form input[type="url"] {
  width: 100%;
  line-height: 2em;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px; 
  color: #999;
}

form input[type="submit"] {
  color: inherit; 
  padding:10px; margin: 10px 0;
}

.simple-form label {
  display: none; 
}

/* DB Table
------------------------------------------------------------*/

.table-div {
  border: 1px solid #EFEFEF;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #EFEFEF; 
  font-size: 0.9em;
  color: #333;
}

.table-db td, .table-db th {
  border: 0;
  padding: 2px 4px;
  vertical-align: top;
}

.table-db tr:first-child{
  border-bottom:1px solid #ddd;
}

.table-db th {
  font-weight: normal;
  padding: 10px 0;
}
