html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* TR
--------------------------------------------------------------------*/
/*
  http://encycolorpedia.com/606e8c
  */
body, html {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dbdee5; }

body {
  border-top: 10px solid #4b5364; }

header, footer, #main {
  margin-left: 50px;
  margin-right: 50px; }

header {
  margin-bottom: 20px;
  overflow: hidden;
  color: #4b5364; }
  header h1 {
    color: #dbdee5;
    background-color: #851919;
    position: relative;
    z-index: 5;
    border: 1px dotted #dbdee5;
    border-top: 0;
    border-radius: 0 0 3px 3px; }
  header h1,
  header h2,
  header li {
    margin: 0;
    padding: 1px 4px 4px 4px;
    font-size: 14px;
    line-height: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    float: left; }
  header li {
    padding-top: 0;
    list-style-type: none;
    margin-left: 10px; }
  header li:last-child {
    margin-right: 10px; }
  header a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #4b5364;
    font-size: 12px; }
  header a:hover {
    border-bottom: 1px dashed #dbdee5; }
  header #h-container {
    float: left;
    overflow: hidden; }
  header .hidden {
    display: none; }
  header .show {
    display: block; }
  header nav {
    float: left; }
  header nav.hidden {
    margin-left: -150px;
    display: block;
    /*override hidden*/
    transition: margin-left 0.2s; }
  header nav.show {
    margin-left: 0px;
    transition: margin-left 0.2s; }
